
    <%- include('partials/header') %>

    <body>
       
       <div class="header">
           <div class="container">
      
    <%- include('partials/navbar') %> 
       </div>
<!----------------- title -------------->
<div class="small-container">
   <div class="row row-2">
       <h2>All Products</h2>
       <select>
           <option>Default Shorting</option>
           <option>Short by price</option>
           <option>Short by popularity</option>
           <option>Short by rating</option>
           <option>Short by sale</option>
       </select>
   </div>
   <div class="row">
    <div class="col-4">
        
        <a href="/product-details1"><img src="/images/product-1.jpg"></a>
        <h4><a href="/product-details1">Red Printed T-Shirt</a></h4>
        <div class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-o"></i>
        </div>
        <p>₹230.00</p>
    </div> 
    <div class="col-4">
     <a href="/product-details2"><img  src="images/shoes1.jpeg"></a>
     <h4><a href="/product-details2">Air Jordan Low 1</a></h4>
     <div class="rating">
         <i class="fa fa-star"></i>
         <i class="fa fa-star"></i>
         <i class="fa fa-star"></i>
         <i class="fa fa-star"></i>
         <i class="fa fa-star-half-o"></i>
     </div>
     <p>₹9995.00</p>
 </div> 
    <div class="col-4">
     <a href="/product-details3"><img src="imagess/pants1.webp"></a>
     <h4><a href="/product-details3">Black Trackpants</a></h4>
        <div class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-half-o"></i>
        </div>
        <p>₹950.00</p>
    </div> 
     <div class="col-4">
         <a href="/product-details4"><img src="imagess/shirt1.webp"></a>
         <h4><a href="/product-details4">Check-Shirt</a></h4>
        <div class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-o"></i>
        </div>
        <p>₹599.00</p>
    </div> 
</div>
  <div class="row">
    <div class="col-4">
     <a href="/product-details5"><img src="imagess/greyShoes1Type2.webp"></a>
     <h4><a href="/product-details5">Nike Grey Sports Shoes</a></h4>
        <div class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-o"></i>
        </div>
        <p>₹1899.00</p>
    </div> 
    <div class="col-4">
     <a href="/product-details6"><img src="imagess/black_T-shirt1.webp"></a>
     <h4><a href="/product-details6">Black T-Shirt</a></h4>
        <div class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-half-o"></i>
        </div>
        <p>₹600.00</p>
    </div> 
    <div class="col-4">
     <a href="/product-details7"><img src="imagess/shoes1.webp"></a>
     <h4><a href="/product-details7">Brown Leather Shoes</a></h4>
        <div class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-half-o"></i>
        </div>
        <p>₹1150.00</p> 
    </div> 
     <div class="col-4">
         <a href="/product-details8"><img src="imagess/silverwatch1.webp"></a>
         <h4><a href="/product-details8">Titan Silver Vintage Watch</a></h4>
        <div class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-o"></i>
        </div>
        <p>₹1200.00</p>
    </div> 
</div>
<div class="row">
    <div class="col-4">
     <a href="/product-details9"><img src="imagess/watch1.webp"></a>
         <h4><a href="/product-details9">Brown Fastrack Watch</a></h4>
        <div class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-o"></i>
        </div>
        <p>₹1350.00</p> 
    </div> 
    <div class="col-4">
     <a href="/product-details10"><img src="imagess/BlackShoes1.webp"></a>
     <h4><a href="/product-details10">Adidas Black Shoes</a></h4>
        <div class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-half-o"></i>
        </div>
        <p>₹1650.00</p>
    </div> 
    <div class="col-4">
     <a href="/product-details11"><img src="imagess/greyShoes1.webp"></a>
         <h4><a href="/product-details11">Puma Grey Sports Shoes</a></h4>
        <div class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-half-o"></i>
        </div>
        <p>₹1099.00</p>
    </div> 
     <div class="col-4">
         <a href="/product-details12"><img src="imagess/jeans1.webp"></a>
         <h4><a href="/product-details12">Denim-Jeans</a></h4>
        <div class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-o"></i>
        </div>
        <p>₹750.00</p>
    </div> 
</div>
           
           <div class="page-btn">
              <span>1</span>
              <span>2</span>
              <span>3</span>
              <span>4</span>
              <span>&#8594;</span>
          </div>
</div>
    
<!----------Footer---------------> 

<div class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col1">
               <h3>Download Our App</h3>
                <p>Download App for Android and ios mobile phone.</p>
                <div class="app-logo">
                    <img src="images/play-store.png">
                    <img src="images/app-store.png">
                </div>
            </div>
            <div class="footer-col2">
               <img src="images/logo-white.png">
                <p>Our Purpose Is To Sustainably Make the Pleasure and Benefits of Sports Accessible to the Many.</p>
            </div>
            <div class="footer-col3">
               <h3>Useful Links</h3>
                <ul>
                    <li>Coupons</li>
                    <li>Blog Post</li>
                    <li>Return Policy</li>
                    <li>Join Affiliate</li>
                </ul>
            </div>
            <div class="footer-col4">
               <h3>Follow Us</h3>
                <ul>
                    <li>Facebook</li>
                    <li>Twitter<li>
                    <li>Instagram</li>
                    <li>YouTube</li>
                </ul>
            </div>
        </div>
        <hr>
        <p class="copyright"><a href="#">Copyright 2025</a></p>
    </div>
    
</div>



<!-------------js for toggle menu-------------->

<script>
    
    var MenuItems = document.getElementById("MenuItems");
    
    MenuItems.style.maxHeight = "0px";
    
    function menutoggle()
    {
        if(MenuItems.style.maxHeight == "0px")
            {
                MenuItems.style.maxHeight = "200px";
            }else
            {
                MenuItems.style.maxHeight = "0px"
            } 
    }
    
</script>
<!-- <script src="cart.js"></script> -->

<script src="/js/share.js"></script>
</body>

</html>

